.Menu__container {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 64px 16px;
  background: #ccc;
}

.Menu__list {
  height: 100%;
  overflow: auto;
}

.Menu__list li {
  text-align: center;
  line-height: 32px;
  padding: 16px;
}
