@import url(./vendor/normalize.css);
@import url(./fonts.css);


/* GLOBALS */
html {
  height: 100%;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #eee;
}
body, #root {
  height: 100%;
}
::-moz-selection { background: rgba(255, 100, 150, .4); }
::selection {      background: rgba(255, 100, 150, .4); }

a {
  color: rgba(255,100,150,1);
}
a:hover {
  text-decoration: none;
}
