@import url(./vendor/normalize.css);

/* GLOBALS */
html {
  height: 100%;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #eee;
}
body, #root {
  height: 100%;
}
::-moz-selection {
  background: #b3d4fc;
}
::selection {
  background: #b3d4fc;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width: 100%;
}
.noselect {user-select: none;}


/* > Sony Xperia screen */
@media screen and (min-width: 541px) {
}

/* 960px + 8px*2 mobile paddings */
@media screen and (min-width: 976px) {
}

/* > Surface pro 4 screen */
@media screen and (min-width: 1370px) {
}
